<div class="form-container">
  <h1 class="mat-h1">Wetter</h1>
  <mat-card class="weather-card">
    <mat-card-header>
      <mat-card-title>
        <h2 class="mat-h2">München</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="weather-card-content">
      <div>Temperatur: {{weatherState.main.temp}}°</div>
      <div>Temp Max: {{weatherState.main.temp_max}}°</div>
      <div>Temp Min: {{weatherState.main.temp_min}}°</div>
    </mat-card-content>
  </mat-card>
</div>
